:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 85%);
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 18%);
  --black: hsl(0, 0%, 10%);
}

* {
  color: var(--white);
  font-family: monospace;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#svg-image {
  width: 100vw;
  height: 100vh;
}
